/* Diseño para contenedores
 * Enfoque : Mobile first
 * 
*/
form.filtro-noticias{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3px;
    width: 100%;
}
form.filtro-noticias button{
    background-color: #D22020;
}
form.filtro-noticias button:hover{
    background-color: #C11010;
}
form.filtro-noticias select{
    width: 100%;
}
table.noticia{
    padding-left: 0.5em;
    margin: 1em 0;
    border-top: 0.1em solid #666666;
    border-left: 0.5em solid #666666;
    border-right: 0.1em solid #666666;
    border-bottom: 0.1em solid #666666;
}
table.noticia tr, table.noticia td{
    width: 100%;
}
table.noticia td#meta, 
table.noticia tr#carrera-top td,
table.noticia tr#carrera-top td h5 
{
    margin: 0;
    padding: 0.05em 0 0.05em 0.3em;
}
table.noticia td#carrera-titulo h4
{
    margin: 0;
    padding: 0;
}
table.noticia tr#carrera-top{
    display: table-row;
}
table.noticia #carrera-left{
    display: none;
}
table.noticia td#carrera-left h5{
    display: none;
}
table.noticia td#meta{
    display: flex;
    flex-direction: column;
    padding-left: 0.6em;
}
table.noticia td#meta p{
    font-size: 0.9em;
    margin-right: 0.5em;
}

/* Diseño Responsive
 * Los breakpoints que se tienen en cuenta son los siguientes :
 * Hasta 360 móvil en vertical
 * Mínimo 360 máximo 600 en móvil
 * Mínimo 360 máximo 720 en ordenador
 * Mínimo 720 en móvil
 * Mínimo 720 máximo 840 en ordenador
 * Mínimo 840 máximo 1080 en ordenador
 * Mínimo 1080 en ordenador
 **************************************************************************************************************
 */

/* Mínimo 720 máximo 840 
 **************************************************************************************************************
 */
@media screen and (min-width : 720px){
    form.filtro-noticias{    
        flex-direction: row;
        justify-content: space-between;
    }
    form.filtro-noticias button{
        width: 14%;
    }
    form.filtro-noticias select{
        width: 40%;
    }  
    table.noticia tr#carrera-top{
        display: none;
    }
    table.noticia tr#carrera-top h5{
        display: none;
    }
    table.noticia #carrera-left{
        display: table-cell;
    }
    table.noticia td#carrera-left{
        width: 1.4em;
        vertical-align: bottom;
    }
    table.noticia td#carrera-left h5{
        display: inline-block;
        width: 1.4em;
        transform: rotate(-90deg);

    }
}
/* Mínimo 840 máximo 1080 
 **************************************************************************************************************
 */
@media screen and (min-width : 840px){
    form.filtro-noticias button{
        width: 13%;
    }
    form.filtro-noticias select{
        width: 40%;
    }
        table.noticia td#meta{
        display: flex;
        flex-direction: row;
    }
    table.noticia td#meta p{
        font-size: 0.9em;
        margin-right: 0.5em;
    }
}

/* Mínimo 1080 
 **************************************************************************************************************
 */
@media screen and (min-width : 1080px){
    form.filtro-noticias button{
        width: 12%;
    }
    form.filtro-noticias select{
        width: 43%;
    }
}

/*
 **************************************************************************************************************
 */


























