table.primary th{ background-color: var(--rojo-toro); }
.miniprofile {
  border-radius: 15%;    /* Make it a circle */
  margin: 0 auto;        /* Center horizontally */
}
.imageInput > *{ margin-top: .7em; flex: 0 0 auto; }
.dropimage{ padding-bottom: 100%; }
.dropImageContainer{ width: 5em; height: 5em; }
input[type="submit"]{ background-color: var(--rojo-toro); }
input[type="submit"]:hover{ background-color: var(--rojo-toro-light); color: var(--rojo-toro); }
.flex > *:first-child{
	padding-left: 0;
}