h1#titulo-seccion{ padding-left: 0; margin: 0; font-size: 2em; }
div#contacto-carrera h2, a{
	color: #D22020;
}
div.contenedor-dos-columnas div#contacto-carrera h2{
	padding-left: 0.5em;
}
a.button{background-color: #D22020;}
section#formulario-duda div.contenido-texto,
section#formulario-colaborar div.contenido-texto{padding: 0.3em;}
section#formulario-duda label,
section#formulario-colaborar label{color: #D22020;}
section#formulario-duda div.contenido-texto label#descripcion, 
section#formulario-colaborar div.contenido-texto label#descripcion{ height: 100%; padding-bottom: 2em;}
section#formulario-duda div.contenido-texto textarea, 
section#formulario-colaborar div.contenido-texto textarea{height: 100%; min-height: 4em;}
label#boton-doc-colaboracion.button, 
label#boton-cartel-colaboracion.button{color: white; background-color: #D22020;}