<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/delcien/css/picnic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/delcien/css/imagen-corporativa.css">
    <link rel="stylesheet" type="text/css" href="/static/delcien/css/base.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/delcien/css/contenido.css"> -->
    {% block links %}{% endblock %}
</head>
<body>
	<header>
		{% block header %}{% endblock %}
	</header>
	<main>
		{% block content %}{% endblock %}
	</main>
	<footer>
		{% block footer %}{% endblock %}
	</footer>

	<!-- <script src="/static/delcien/js/vendor/jquery.js"></script> -->
    <!-- <script src="/static/delcien/js/vendor/what-input.js"></script> -->
    <!-- <script src="/static/delcien/js/vendor/foundation.min.js"></script> -->
    <script src="/static/delcien/js/friconix.js"></script>
    <script src="/static/delcien/js/main.js"></script>
</body>
</html>