{% extends "delcien/main.html" %}

{% block title %}
    Delcien USAL - Aviso Legal
{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="/static/delcien/css/soporte.css">
{% endblock %}

{% block content %}

    <section class="tipo-contenedor">
        <h1 id="titulo-seccion">Aviso Legal</h1>
        <div id="yo">
            <div class="texto">
                <p>
                El presente portal constituye el Sitio Oficial de la Delegación de Estudiantes de la Facultad de
                Ciencias de la Universidad de Slamanca. Dicho portal ha sido creado y es mantenido por la 
                Delegación de Estudiantes de la Facultad de Ciencias de la Universidad de Salamanca.<br>

                La Delegacion de Estudiantes de la Facultad de Ciencias de la Universidad de Salamanca con
                CIF: XXXXXXXXX tiene su sede en .<br>

                Los usuarios del presente portal web podrán ponerse en contacto con la delegación por escrito,
                dirigido a la dirección descrita arriba, o por correo electrónico a delg.fc@usal.es
                </p>
            </div>
        </div>
    </section>
    <section class="tipo-contenedor">
        <h1 id="titulo-seccion">Condiciones Generales de Uso</h1>
        <div id="yo">
            <div class="texto">
                <p>
                El acceso al presente portal web concede a la persona que realiza tal uso la condición
                de usuario. Ser usuario implica la aceptación de los términos que se recogen en esta página,
                pudiendo ser modificiados; en cuyo caso se notificaría y el usuario habría de visitar 
                regularmente el página para comprobar los términos aceptados.

                </p>
            </div>
        </div>
    </section>
    <section class="tipo-contenedor">
        <h1 id="titulo-seccion">Contenidos</h1>
        <div id="yo">
            <div class="texto">
                <p>
                El presente portal constituye el Sitio Oficial de la Delegación de Estudiantes de la Facultad de
                Ciencias. Dicho portal se ha creado y es mantenido por la Delegación de Estudiantes

                La Delegación de Estudiantes de la Facultad de Ciencias de la Universidad de Ciencias se 
                reserva el derecho de modificar libremente el contenido del presente portal; que puede ser
                incompleta o desactualizada aunque se tomen medidas para evitarlo.<br>

                El usuario se compromete a hacer un buen uso de los contenidos de este Portal, que nunca podrán
                ser utilizados para actividades ilícitas o lesivas de derechos y libertades de terceros, o que 
                puedan ser contrarias a la moral, los buenos usos y costumbres y el orden público.<br>

                Con independencia del uso que se dé al contenido del presente portal, dicho uso es 
                responsabilidad del usuario y por tanto la Delegación de Estudiantes de la Facultad de Ciencias
                de la Universidad de Salamanca no se responsabiliza del mismo.
                </p>
            </div>
        </div>
    </section>
    <section class="tipo-contenedor">
        <h1 id="titulo-seccion">Cookies</h1>
        <div id="yo">
            <div class="texto">
                <p>
                El presente portal constituye el Sitio Oficial de la Delegación de Estudiantes de la Facultad de
                Ciencias. Dicho portal se ha creado y es mantenido por la Delegación de Estudiantes

                </p>
            </div>
        </div>
    </section>
    <section class="tipo-contenedor">
        <h1 id="titulo-seccion">Seguridad</h1>
        <div id="yo">
            <div class="texto">
                <p>
                El presente portal constituye el Sitio Oficial de la Delegación de Estudiantes de la Facultad de
                Ciencias. Dicho portal se ha creado y es mantenido por la Delegación de Estudiantes

                </p>
            </div>
        </div>
    </section>
    <section class="tipo-contenedor">
        <h1 id="titulo-seccion">Enlaces</h1>
        <div id="yo">
            <div class="texto">
                <p>
                El presente portal constituye el Sitio Oficial de la Delegación de Estudiantes de la Facultad de
                Ciencias. Dicho portal se ha creado y es mantenido por la Delegación de Estudiantes

                </p>
            </div>
        </div>
    </section>
    <section class="tipo-contenedor">
        <h1 id="titulo-seccion">Protección de datos de carácter personal</h1>
        <div id="yo">
            <div class="texto">
                <p>
                El presente portal constituye el Sitio Oficial de la Delegación de Estudiantes de la Facultad de
                Ciencias. Dicho portal se ha creado y es mantenido por la Delegación de Estudiantes

                </p>
            </div>
        </div>
    </section>
    <section class="tipo-contenedor">
        <h1 id="titulo-seccion">Exención de responsabilidades</h1>
        <div id="yo">
            <div class="texto">
                <p>
                El presente portal constituye el Sitio Oficial de la Delegación de Estudiantes de la Facultad de
                Ciencias. Dicho portal se ha creado y es mantenido por la Delegación de Estudiantes

                </p>
            </div>
        </div>
    </section>
{% endblock %}
