{% extends "delcien/base.html" %}

{% block title %}
	Delcien-USAL
{% endblock %}

{% block header %}
	<nav class="social">
		<ul>
			{% for profile in social %}
			<li><a href="{{ profile.perfil }}"><i class="{{ profile.icono }}"></i></a></li>
			{% endfor %}
		</ul>
	</nav>
	<div id="banner">
		<div id="delegacion">
			<h1 class="font-universitas">Delegación & Estudiantes</h1>
            <h2 class="font-universitas">{{ delegacion.facultad }}</h2>
		</div>
		<div id="universidad">
			<a href="http://www.usal.es/">
                <img src="/static/delcien/assets/imagen-corporativa/img/Logo_Usal_Hor_2012-big.png">
            </a>
		</div>
	</div>
	<nav id="main-nav-container">
		<div id="main-nav">
			<button id="main-nav-current" class="flex two"><span>{{ titulo }}</span><span>&#8801;</span></button>
			<div id="main-nav-links" class="flex center">
				<a href="/inicio">Inicio</a>
				<a href="/quienes-somos">¿Quiénes somos?</a>
				<a href="/estructura-interna">Estructura interna de la Facultad</a>
				<a href="/actualidad">Actualidad</a>
				<a href="/documentacion">Documentación</a>
				<a href="/contacto">Contacto</a>
			</div>
		</div>
	</nav>
{% endblock %}

{% block content %}
	
	
{% endblock %}

{% block footer %}
	<section id="info-pagina">
		<span id="call-to-action">
			<form method="get" action={% url 'colaborar' %} >
				<p>¡No te pierdas la oportunidad de participar en tu facultad!</p>
				<div class="flex three">
					<span class="">Mantenme informado</span>
					<input class="" name="correo-colaborador" type="email" placeholder="ejemplo@correo.xx">
					<input type="hidden" name="prev_url" value="{{ request.path }}">
					<div class="">
						<input type="submit" name="solicitar-avisos" value="Avísame">
					</div>
				</div>
			</form>
            <form method="get"  action={% url 'sugerir' %}>
                <p>Si tienes cualquier idea sobre cómo podríamos mejorar y no quieres 
                esperar a decírnoslo, cuéntanoslo por aqui</p>
                <div>
	                <textarea name="sugerencia" placeholder="Sugerencia ..."></textarea>
					<input type="hidden" name="prev_url" value="{{ request.path }}">
	                <div id="enviar-sugerencia" class="input-group-button">
	                    <input type="submit" class="button" name="solicitar-avisos" value="Enviar">
	                </div>
                </div>
            </form>
		</span>
		<div id="bottom-links">
			<hr/>
            <ul class="flex three center">
                <li class="full third-1000">
                	<a href="/legal">Política de Privacidad</a></li>
                <li class="full third-1000">
                	<a href="/soporte">Soporte</a></li>
                <li class="full third-1000">
                	<a href="/admin">Login Administrador</a></li>
            </ul>
            <p>2017 Delegación de ciencias</p>
        </div>
	</section>
	<nav class="social">
		<ul>
			{% for profile in social %}
			<li><a href="{{ profile.perfil }}"><i class="{{ profile.icono }}"></i></a></li>
			{% endfor %}
		</ul>
	</nav>
{% endblock %}
