{% extends "delcien/base.html" %}

{% block title %}
	Delcien-USAL
{% endblock %}

{% block header %}
	<!-- <nav id="social">
		<ul>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>
	</nav> -->
	<div id="banner">
		<div id="delegacion">
			<h1 class="font-universitas">Delegación & Estudiantes</h1>
            <h2 class="font-universitas">Facultad & Ciencias</h2>
		</div>
		<div id="universidad">
			<a href="http://www.usal.es/">
                <img src="/static/delcien/assets/imagen-corporativa/img/Logo_Usal_Hor_2012-big.png">
            </a>
		</div>
	</div>
	<nav id="main-nav-container">
		<div id="main-nav">
			<button id="main-nav-current" class="flex two"><span>{{ Titulo }}</span><span>&#8801;</span></button>
			<div id="main-nav-links" class="flex center">
				<a href="/inicio">Inicio</a>
				<a href="/quienes-somos">¿Quiénes somos?</a>
				<a href="/estructura-interna">Estructura interna de la Facultad</a>
				<a href="/actualidad">Actualidad</a>
				<a href="/documentacion">Documentación</a>
				<a href="/contacto">Contacto</a>
			</div>
		</div>
	</nav>
{% endblock %}

{% block content %}
	
	
{% endblock %}

{% block footer %}
	<section id="info-pagina">
		<span id="call-to-action">
			<p>¡No te pierdas la oportunidad de participar en tu facultad!</p>
			<form method="get" class="input-group" action={% url 'colaborar' %} >
				<span class="input-group-label">Mantenme informado</span>
				<input class="input-group-field" name="correo-colaborador" type="email" placeholder="ejemplo@correo.xx">
				<input type="hidden" name="prev_url" value="{{ request.path }}">
				<div class="input-group-button">
					<input type="submit" class="button" name="solicitar-avisos" value="Avísame">
				</div>
			</form>
            <form method="get"  action={% url 'sugerir' %}>
                <p>Si tienes cualquier idea sobre cómo podríamos mejorar y no quieres 
                esperar a decírnoslo, cuéntanoslo por aqui</p>
                <textarea name="sugerencia" placeholder="Sugerencia ..."></textarea>
				<input type="hidden" name="prev_url" value="{{ request.path }}">
                <div id="enviar-sugerencia" class="input-group-button">
                    <input type="submit" class="button" name="solicitar-avisos" value="Enviar">
                </div>
            </form>
		</span>
		<div class="menu-centered">
            <ul class="vertical medium-horizontal menu">
                <li><a href="/legal">Política de Privacidad</a></li>
                <li><a href="/soporte">Soporte</a></li>
                <li><a href="/admin">Login Administrador</a></li>
            </ul>
            <p>2017 Delegación de ciencias</p>
        </div>
	</section>
	<!--<nav id="social">
		<ul>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
			<li><a href=""></a></li>
		</ul>
	</nav>-->
{% endblock %}
