{% extends "delcien/main.html" %}

{% comment %}
<!--{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}	
{% endblock %}

{% block footer %}
{% endblock %} -->
{% endcomment %}

{% block content %}	
	<section class="tipo-contenedor">
        <h1 id="titulo-seccion">Un único lugar para encontrar toda la información</h1>
        <div class="contenedor-dos-columnas">
            <div class="contenido-texto">
                <p>
                Aquí puedes acceder a todo el contenido que se ha ido generando
                desde la Delegación, la Facultad u otros sitios, que pueden
                serte de utilidad.
                <br>
                <br>
                Si hay un recurso que te gustaría tener en la página, o que quisieras compartir, háznoslo saber a través de la sección de <a href="/contacto">contacto</a>. Gracias
                </p>
            </div>
            <div class="contenido-texto">
                <p>
                Otros enlaces de interés :
                </p>
		        <ul>
		        	<li><a href="#">Un link</a></li>
		        	<li><a href="#">Un link</a></li>
		        	<li><a href="#">Un link</a></li>
		        	<li><a href="#">Un link</a></li>
		        	<li><a href="#">Un link</a></li>
		        	<li><a href="#">Un link</a></li>
		        </ul>
		    </div>
        </div>
    </section>
    <section class="tipo-contenedor">
    	<h1 id="titulo-seccion">Documentación de la delegación</h1>
    	<div class="contenedor-dos-columnas">
    		{% if delegacion %}
    			{% for recurso in doc_delegacion %}
    				<div class="contenido-fichero">
		        		<div>
		        			{% if recurso.validez == "CN" %}
		        				<span class="secondary label">En construcción</span>
							{% elif recurso.validez == "VA" %}
								<span class="success label">Disponible</span>
							{% elif recurso.validez == "IN" %}
								<span class="alert label">Inaccesible</span>
							{% else %}		        			
								<span class="warning label">Desactualizado</span>
		        			{% endif %}
							( {{ recurso.fecha_edicion }} )<a href="{{ recurso.fichero }}"><button type="button" class="button tiny">Descargar</button></a>
		        		</div>
						<div>
							<span class="icono-fichero">
								{% if recurso.tipo_fichero == "PF" %}
									<img src="/static/delcien/assets/svg/pdf.svg" alt="Fichero">
								{% elif recurso.tipo_fichero  == "PT" %}
									<img src="/static/delcien/assets/svg/ppt.svg" alt="Fichero">
								{% elif recurso.tipo_fichero == "WD" %}
									<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
								{% elif recurso.tipo_fichero == "XL" %}
									<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
								{% elif recurso.tipo_fichero == "HT" %}
									<img src="/static/delcien/assets/svg/html.svg" alt="Fichero">
								{% else %}		        			
									<img src="/static/delcien/assets/svg/zip.svg" alt="Fichero">
			        			{% endif %}
							</span>
							<p>Fichero : {{ recurso.nombre }}</p><br>
							<p>Descripción : {{ recurso.descripcion }}</p><br>
						</div>
		        	</div>		
    			{% endfor %}
    		{% else %}
    			<h5>No hay documentación disponible</h3>
    		{% endif %}
        </div>
    </section>

    <section class="tipo-contenedor">
    	<h1 id="titulo-seccion">Documentación para el estudiante</h1>
    	<div class="contenedor-dos-columnas">
    		{% if estudiante %}
    			{% for recurso in doc_estudiante %}
    				<div class="contenido-fichero">
		        		<div>
		        			{% if recurso.validez == "CN" %}
		        				<span class="secondary label">En construcción</span>
							{% elif recurso.validez == "VA" %}
								<span class="success label">Disponible</span>
							{% elif recurso.validez == "IN" %}
								<span class="alert label">Inaccesible</span>
							{% else %}		        			
								<span class="warning label">Desactualizado</span>
		        			{% endif %}
							( {{ recurso.fecha_edicion }} )<a href="{{ recurso.fichero }}"><button type="button" class="button tiny">Descargar</button></a>
		        		</div>
						<div>
							<span class="icono-fichero">
								{% if recurso.tipo_fichero == "PF" %}
									<img src="/static/delcien/assets/svg/pdf.svg" alt="Fichero">
								{% elif recurso.tipo_fichero  == "PT" %}
									<img src="/static/delcien/assets/svg/ppt.svg" alt="Fichero">
								{% elif recurso.tipo_fichero == "WD" %}
									<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
								{% elif recurso.tipo_fichero == "XL" %}
									<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
								{% elif recurso.tipo_fichero == "HT" %}
									<img src="/static/delcien/assets/svg/html.svg" alt="Fichero">
								{% else %}		        			
									<img src="/static/delcien/assets/svg/zip.svg" alt="Fichero">
			        			{% endif %}
							</span>
							<p>Fichero : {{ recurso.nombre }}</p><br>
							<p>Descripción : {{ recurso.descripcion }}</p><br>
						</div>
		        	</div>		
    			{% endfor %}
    		{% else %}
    			<h5>No hay documentación disponible</h3>
    		{% endif %}
        </div>
    </section>

    <section class="tipo-contenedor">
    	<h1 id="titulo-seccion">Documentación para representantes</h1>
    	<div class="contenedor-dos-columnas">
    		{% if representante %}
    			{% for recurso in doc_representante %}
    				<div class="contenido-fichero">
		        		<div>
		        			{% if recurso.validez == "CN" %}
		        				<span class="secondary label">En construcción</span>
							{% elif recurso.validez == "VA" %}
								<span class="success label">Disponible</span>
							{% elif recurso.validez == "IN" %}
								<span class="alert label">Inaccesible</span>
							{% else %}		        			
								<span class="warning label">Desactualizado</span>
		        			{% endif %}
							( {{ recurso.fecha_edicion }} )<a href="{{ recurso.fichero }}"><button type="button" class="button tiny">Descargar</button></a>
		        		</div>
						<div>
							<span class="icono-fichero">
								{% if recurso.tipo_fichero == "PF" %}
									<img src="/static/delcien/assets/svg/pdf.svg" alt="Fichero">
								{% elif recurso.tipo_fichero  == "PT" %}
									<img src="/static/delcien/assets/svg/ppt.svg" alt="Fichero">
								{% elif recurso.tipo_fichero == "WD" %}
									<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
								{% elif recurso.tipo_fichero == "XL" %}
									<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
								{% elif recurso.tipo_fichero == "HT" %}
									<img src="/static/delcien/assets/svg/html.svg" alt="Fichero">
								{% else %}		        			
									<img src="/static/delcien/assets/svg/zip.svg" alt="Fichero">
			        			{% endif %}
							</span>
							<p>Fichero : {{ recurso.nombre }}</p><br>
							<p>Descripción : {{ recurso.descripcion }}</p><br>
						</div>
		        	</div>		
    			{% endfor %}
    		{% else %}
    			<h5>No hay documentación disponible</h3>
    		{% endif %}
        </div>
    </section>

    <section class="tipo-contenedor">
    	<h1 id="titulo-seccion">Documentación de la Universidad</h1>
    	<div class="contenedor-dos-columnas">
    		{% if universidad %}
    			{% for recurso in doc_universidad %}
    				<div class="contenido-fichero">
		        		<div>
		        			{% if recurso.validez == "CN" %}
		        				<span class="secondary label">En construcción</span>
							{% elif recurso.validez == "VA" %}
								<span class="success label">Disponible</span>
							{% elif recurso.validez == "IN" %}
								<span class="alert label">Inaccesible</span>
							{% else %}		        			
								<span class="warning label">Desactualizado</span>
		        			{% endif %}
							( {{ recurso.fecha_edicion }} )<a href="{{ recurso.fichero }}"><button type="button" class="button tiny">Descargar</button></a>
		        		</div>
						<div>
							<span class="icono-fichero">
								{% if recurso.tipo_fichero == "PF" %}
									<img src="/static/delcien/assets/svg/pdf.svg" alt="Fichero">
								{% elif recurso.tipo_fichero  == "PT" %}
									<img src="/static/delcien/assets/svg/ppt.svg" alt="Fichero">
								{% elif recurso.tipo_fichero == "WD" %}
									<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
								{% elif recurso.tipo_fichero == "XL" %}
									<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
								{% elif recurso.tipo_fichero == "HT" %}
									<img src="/static/delcien/assets/svg/html.svg" alt="Fichero">
								{% else %}		        			
									<img src="/static/delcien/assets/svg/zip.svg" alt="Fichero">
			        			{% endif %}
							</span>
							<p>Fichero : {{ recurso.nombre }}</p><br>
							<p>Descripción : {{ recurso.descripcion }}</p><br>
						</div>
		        	</div>		
    			{% endfor %}
    		{% else %}
    			<h5>No hay documentación disponible</h3>
    		{% endif %}
        </div>
    </section>
    
{% endblock %}
