{% extends "delcien/main.html" %}

{% comment %}
<!--{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}	
{% endblock %}

{% block footer %}
{% endblock %} -->
{% endcomment %}
{% block links %}
{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "documentacion/css/main.css" %}>{% endblock %}

{% block content %}	
<section class="section-container">
    <h1 class="section-title">Aprovéchate de nuestros recursos</h1>
    <div class="content">
    	<p>
    		Si tienes algún recurso que quieras compartir, háznoslo llegar a través de nuestro correo electrónico 
    		(<a href="{{ delegacion.email }}" type="email">{{ delegacion.email }}</a>).
        </p>
        {% if doc_delegacion %}
	        <h3>Documentación de la Delegación</h3>
	        <p>Actas, reglamento, convocatorias y otros documentos generados por la delegación de estudiantes.</p>
	        <div class="flex three-700 four-1000 docContainer">
	        	{% for recurso in doc_delegacion %}
	        		<div class="full third-800 fourth-1000">
					    <article class="card doc">
					    	<header>
					    		<div class="flex meta">
									{% if recurso.tipo_fichero == "PF" %}
										<img src="/static/delcien/assets/svg/pdf.svg" alt="Fichero">
									{% elif recurso.tipo_fichero  == "PT" %}
										<img src="/static/delcien/assets/svg/ppt.svg" alt="Fichero">
									{% elif recurso.tipo_fichero == "WD" %}
										<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
									{% elif recurso.tipo_fichero == "XL" %}
										<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
									{% elif recurso.tipo_fichero == "HT" %}
										<img src="/static/delcien/assets/svg/html.svg" alt="Fichero">
									{% else %}		        			
										<img src="/static/delcien/assets/svg/zip.svg" alt="Fichero">
				        			{% endif %}
				        			<h4>
					        			{% if recurso.validez == "CN" %}
					        				<span class="label warning">En construcción</span>
										{% elif recurso.validez == "VA" %}
											<span class="label success">Disponible</span>
										{% elif recurso.validez == "IN" %}
											<span class="label error">Inaccesible</span>
										{% else %}		        			
											<span class="label error">Desactualizado</span>
					        			{% endif %}
					        			<br>
					    				<span class="date">{{ recurso.fecha_edicion }}</span>
				        			</h4>	
					    		</div>
						    	<h4>{{ recurso.nombre }}</h4>
					    	</header>
		        			<p>
		        				{{ recurso.descripcion }}
		        			</p>
					      	<footer>
								<a href="{{ recurso.fichero }}" target="blank" class="button">Ver recurso</a>
					    	</footer>
						</article>
					</div>
    			{% endfor %}
	        </div>
	    {% endif %}
	    {% if doc_estudiante %}
	        <h3>Recursos para los Estudiantes</h3>
	        <p>Plantillas, enlaces de interés, calendarios docentes y otros recursos que te pueden venir bien.</p>
	        <div class="flex three-700 four-1000 docContainer">
	        	{% for recurso in doc_estudiante %}
	        		<div class="full third-800 fourth-1000">
					    <article class="card doc">
					    	<header>
					    		<div class="flex meta">
									{% if recurso.tipo_fichero == "PF" %}
										<img src="/static/delcien/assets/svg/pdf.svg" alt="Fichero">
									{% elif recurso.tipo_fichero  == "PT" %}
										<img src="/static/delcien/assets/svg/ppt.svg" alt="Fichero">
									{% elif recurso.tipo_fichero == "WD" %}
										<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
									{% elif recurso.tipo_fichero == "XL" %}
										<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
									{% elif recurso.tipo_fichero == "HT" %}
										<img src="/static/delcien/assets/svg/html.svg" alt="Fichero">
									{% else %}		        			
										<img src="/static/delcien/assets/svg/zip.svg" alt="Fichero">
				        			{% endif %}
				        			<h4>
					        			{% if recurso.validez == "CN" %}
					        				<span class="label warning">En construcción</span>
										{% elif recurso.validez == "VA" %}
											<span class="label success">Disponible</span>
										{% elif recurso.validez == "IN" %}
											<span class="label error">Inaccesible</span>
										{% else %}		        			
											<span class="label error">Desactualizado</span>
					        			{% endif %}
					        			<br>
					    				<span class="date">{{ recurso.fecha_edicion }}</span>
				        			</h4>	
					    		</div>
						    	<h4>{{ recurso.nombre }}</h4>
					    	</header>
		        			<p>
		        				{{ recurso.descripcion }}
		        			</p>
					      	<footer>
								<a href="{{ recurso.fichero }}" target="blank" class="button">Ver recurso</a>
					    	</footer>
						</article>
					</div>
    			{% endfor %}
	        </div>
	    {% endif %}
	    {% if doc_representante %}
	        <h3>Documentación para los Representantes de Alumnos</h3>
	        <p>Guías de actuación, calendario de eventos, y plantillas para informes internos.</p>
	        <div class="flex three-700 four-1000 docContainer">
	        	{% for recurso in doc_representante %}
	        		<div class="full third-800 fourth-1000">
					    <article class="card doc">
					    	<header>
					    		<div class="flex meta">
									{% if recurso.tipo_fichero == "PF" %}
										<img src="/static/delcien/assets/svg/pdf.svg" alt="Fichero">
									{% elif recurso.tipo_fichero  == "PT" %}
										<img src="/static/delcien/assets/svg/ppt.svg" alt="Fichero">
									{% elif recurso.tipo_fichero == "WD" %}
										<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
									{% elif recurso.tipo_fichero == "XL" %}
										<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
									{% elif recurso.tipo_fichero == "HT" %}
										<img src="/static/delcien/assets/svg/html.svg" alt="Fichero">
									{% else %}		        			
										<img src="/static/delcien/assets/svg/zip.svg" alt="Fichero">
				        			{% endif %}
				        			<h4>
					        			{% if recurso.validez == "CN" %}
					        				<span class="label warning">En construcción</span>
										{% elif recurso.validez == "VA" %}
											<span class="label success">Disponible</span>
										{% elif recurso.validez == "IN" %}
											<span class="label error">Inaccesible</span>
										{% else %}		        			
											<span class="label error">Desactualizado</span>
					        			{% endif %}
					        			<br>
					    				<span class="date">{{ recurso.fecha_edicion }}</span>
				        			</h4>	
					    		</div>
						    	<h4>{{ recurso.nombre }}</h4>
					    	</header>
		        			<p>
		        				{{ recurso.descripcion }}
		        			</p>
					      	<footer>
								<a href="{{ recurso.fichero }}" target="blank" class="button">Ver recurso</a>
					    	</footer>
						</article>
					</div>
    			{% endfor %}
	        </div>
	    {% endif %}
	    {% if doc_universidad %}
	        <h3>Recursos de la Universidad</h3>
	        <p>Enlaces y documentos útiles relacionados con la universidad (estructura interna, uso de los espacios, etcétera).</p>
	        <div class="flex three-700 four-1000 docContainer">
	        	{% for recurso in doc_universidad %}
	        		<div class="full third-800 fourth-1000">
					    <article class="card doc">
					    	<header>
					    		<div class="flex meta">
									{% if recurso.tipo_fichero == "PF" %}
										<img src="/static/delcien/assets/svg/pdf.svg" alt="Fichero">
									{% elif recurso.tipo_fichero  == "PT" %}
										<img src="/static/delcien/assets/svg/ppt.svg" alt="Fichero">
									{% elif recurso.tipo_fichero == "WD" %}
										<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
									{% elif recurso.tipo_fichero == "XL" %}
										<img src="/static/delcien/assets/svg/doc.svg" alt="Fichero">
									{% elif recurso.tipo_fichero == "HT" %}
										<img src="/static/delcien/assets/svg/html.svg" alt="Fichero">
									{% else %}		        			
										<img src="/static/delcien/assets/svg/zip.svg" alt="Fichero">
				        			{% endif %}
				        			<h4>
					        			{% if recurso.validez == "CN" %}
					        				<span class="label warning">En construcción</span>
										{% elif recurso.validez == "VA" %}
											<span class="label success">Disponible</span>
										{% elif recurso.validez == "IN" %}
											<span class="label error">Inaccesible</span>
										{% else %}		        			
											<span class="label error">Desactualizado</span>
					        			{% endif %}
					        			<br>
					    				<span class="date">{{ recurso.fecha_edicion }}</span>
				        			</h4>	
					    		</div>
						    	<h4>{{ recurso.nombre }}</h4>
					    	</header>
		        			<p>
		        				{{ recurso.descripcion }}
		        			</p>
					      	<footer>
								<a href="{{ recurso.fichero }}" target="blank" class="button">Ver recurso</a>
					    	</footer>
						</article>
					</div>
    			{% endfor %}
	        </div>
	    {% endif %}
	</div>
</section>    
{% endblock %}
