{% extends "delcien/main.html" %}

{% comment %}
<!--{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}	
{% endblock %}

{% block footer %}
{% endblock %} -->
{% endcomment %}
{% block links %}
	<link rel="stylesheet" type="text/css" href="/static/contacto/css/main.css">
{% endblock %}

{% block content %}	
	<section class="tipo-contenedor">
	    <h1 id="titulo-seccion">Entra en contacto con la delegación</h1>
	    <div id="contacto-carrera" class="contenido-texto">
	        	<h2>Delegación de la Facultad de Ciencias</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
                        <td>Teléfono: 677 578 739 <i>Extensión 1551</i></td>
				    </tr>
				    <tr>
				      <td>Dirección física : Plaza de la merced, s/n. 37008 Salamanca. despacho F1001 </td>
				    </tr>
				    <tr>
				      <td>Correo de la delegación : delg.fc@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	    <div class="contenedor-dos-columnas">
	        <div id="contacto-carrera" class="contenido-texto">
	        	<h2>Grado en Ingeniería Informática</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Facebook : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	        <div id="contacto-carrera" class="contenido-texto">
	        	<h2>Grado en Ingeniería Geológica</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Facebook : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	        <div  id="contacto-carrera" class="contenido-texto">
	        	<h2>Grado en Física</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Facebook : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	        <div id="contacto-carrera" class="contenido-texto">
	        	<h2>Grado en Estadística</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Facebook : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	        <div id="contacto-carrera" class="contenido-texto">
	        	<h2>Grado en Matemáticas</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Facebook : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	        <div id="contacto-carrera" class="contenido-texto">
	        	<h2>Grado en Geología</h2>
	        	<table class="hover">
				  <tbody>
				    <tr>
				      <td>Facebook : <a href="">Inf Usal</a></td>
				    </tr>
				    <tr>
				      <td>Correo del vocal : <a href="">inf_usal@usal.es</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	    </div>
	</section>
	<section id="formulario-duda" class="tipo-contenedor">
		<h1 class="titulo-seccion">Envíanos directamente tu duda</h1>
		<form method="get" action={% url 'contactoDuda' %}>
		<div class="contenedor-dos-columnas">
			<div class="contenido-texto">
				<label>Nombre
			    	<input type="text" name="nombre" placeholder="Nombre">
			    </label>
			    <label>Correo electrónico
			    	<input type="email" name="correo" placeholder="Nombre">
			    </label>
			    <label>Ámbito de la duda
				  	<select name="ambito">
				    	<option value="Facultad de Ciencias">Facultad de Ciencias</option>
				    	<option value="Grado en Ingeniería Informática">Grado en Ingeniería Informática</option>
				    	<option value="Grado en Ingeniería Química">Grado en Ingeniería Química</option>
				    	<option value="Grado en Física">Grado en Física</option>
				    	<option value="Grado en Estadística">Grado en Estadística</option>
				    	<option value="Grado en Matemáticas">Grado en Matemáticas</option>
				    	<option value="Grado en Geología">Grado en Geología</option>
				  	</select>
				</label>
			</div>
			<div class="contenido-texto">
				<label id="descripcion">
				  	Explícanos tu duda
				  	<textarea placeholder="..." name="duda"></textarea>
				</label>
			</div>
		</div>
		<label>
		  	¿Quieres contarnos algo más?
		  	<textarea name="extra" placeholder="..."></textarea>
		</label>
		<input type="hidden" name="prev_url" value="{{ request.path }}">
		<input type="submit" class="button expanded"></input>
	</form>
	</section>
	<section id="formulario-colaborar" class="tipo-contenedor">
		<h1 class="titulo-seccion">Colabora en la Facultad</h1>
		<form action={% url 'contactoColaboracion' %}>
		<div class="contenedor-dos-columnas">
			<div class="contenido-texto">
				<label>Nombre
			    	<input type="text" name="nombre" placeholder="Nombre">
			    </label>
			    <label>Correo electrónico
			    	<input type="email" name="correo" placeholder="Nombre">
			    </label>
			    <label>Ámbito de la actuación
				  	<select name="ambito">
				    	<option value="Facultad de Ciencias">Facultad de Ciencias</option>
				    	<option value="Grado en Ingeniería Informática">Grado en Ingeniería Informática</option>
				    	<option value="Grado en Ingeniería Química">Grado en Ingeniería Química</option>
				    	<option value="Grado en Física">Grado en Física</option>
				    	<option value="Grado en Estadística">Grado en Estadística</option>
				    	<option value="Grado en Matemáticas">Grado en Matemáticas</option>
				    	<option value="Grado en Geología">Grado en Geología</option>
				  	</select>
				</label>
				<label>¿Tienes un fichero que compartir?</label>
				<input type="file" id="doc-colaboracion" class="show-for-sr">
				<label id="boton-doc-colaboracion" for="doc-colaboracion" class="button">Subir archivo</label>
				<label>¿Quieres que expongamos tu cartel en la página web?</label>
				<input type="file" id="cartel-colaboracion" class="show-for-sr">
				<label id="boton-cartel-colaboracion" for="cartel-colaboracion" class="button">Subir cartel</label>
			</div>
			<div class="contenido-texto">
				<label id="descripcion">
				  	Explícanos tu idea
				  	<textarea placeholder="..." name="idea"></textarea>
				</label>
			</div>
		</div>
		<label>
		  	¿Quieres contarnos algo más?
		  	<textarea placeholder="..." name="extra"></textarea>
		</label>
		<input type="hidden" name="prev_url" value="{{ request.path }}">
		<input type="submit" class="button expanded"></input>
		</form>
	</section>
{% endblock %}
