{% extends "delcien/main.html" %}
{% load md %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="/static/actualidad/css/main.css">
{% endblock %}

{% comment %}
<!--{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}	
{% endblock %}

{% block footer %}
{% endblock %} -->
{% endcomment %}

{% block content %}	
	<section class="section-container">
	    <h1 class="section-title">{{ noticia.titulo }}</h1>
	    <h5>{{ noticia.fecha }}</h5>
	    <div class="content">
	    	{{ noticia.noticia | markdown | safe }}
	    </div>
	</section>
{% endblock %}
