{% extends "delcien/main.html" %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="/static/actualidad/css/main.css">
{% endblock %}

{% comment %}
<!--{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}	
{% endblock %}

{% block footer %}
{% endblock %} -->
{% endcomment %}

{% block content %}	
	<section class="section-container">
	    <h1 class="section-title">Noticias y eventos</h1>
	    <div class="content">
	    	<p>
	    		Mantente informado acerca de los eventos y las noticias más
	    		destacables relacionadas con la universidad, y el entorno 
	    		estudiantil y laboral del ámbito de las ciencias.
	    	</p>   
		    <section>
		    	<div class="flex three-1000">
		    		{% if noticias %}
			    		{% for noticia in noticias %}
			    			<div class="articleContainer full third-1000">
				    			<article class="card">
								  <header>
								    <h3>{{ noticia.titulo }}</h3><br>
								    <p>
								    	{{ noticia.fecha }}
								    </p>
								  </header>
								  <footer>
						    		<a class="button" 
						    			href="{% url 'actualidad_noticia' noticia.id %}">
						    			Ver noticia
						    		</a>
								  </footer>
								</article>
			    			</div>
			    		{% endfor %}
			    	{% else %}
				    	<h5>No hay noticias disponibles</h5>
			    	{% endif %}
		    	</div>
		    </section>
			<ul class="pagination" role="navigation" aria-label="Pagination">
			{% for indice in noticias.paginator.page_range %}
				{% if indice == noticias.number %}
					<a class="button current">Estás en la página {{ pagina }}</a>
				{% elif ambito and categoria %}
					<li><a href="/actualidad/{{ indice }}?ambito={{ ambito }}&categoria={{ categoria }}" aria-label="Page {{ indice }}">{{ indice }}</a></li>
					
				{% else %}
					<li><a href="{% url 'actualidad-busqueda' indice %}" aria-label="Page {{ indice }}">{{ indice }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
	    </div>
	</section>
{% endblock %}
