{% extends "delcien/main.html" %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="/static/actualidad/css/main.css">
{% endblock %}

{% comment %}
<!--{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}	
{% endblock %}

{% block footer %}
{% endblock %} -->
{% endcomment %}

{% block content %}	
	<section class="tipo-contenedor">
	    <h1 id="titulo-seccion">Noticias y eventos</h1>
	    <div class="contenido-texto">
	    	<p>
	    		Mantente informado acerca de los eventos y las noticias más
	    		destacables relacionadas con la universidad, y el entorno 
	    		estudiantil y laboral del ámbito de las ciencias.
	    	</p>
	    </div>
	    <form class="filtro-noticias" method="get" target="_self">
	        <select name="ambito">
	        	<option id="NON" value="NON">< ninguna ></option>
	        	<option id="FAC" value="FAC">Facultad de Ciencias</option>
	    		<option id="INF" value="INF">Grado en Ingeniería Informática</option>
	    		<option id="IQI" value="IQI">Grado en Ingeniería Química</option>
	    		<option id="FIS" value="FIS">Grado en Física</option>
	    		<option id="EST" value="EST">Grado en Estadística</option>
	    		<option id="MAT" value="MAT">Grado en Matemáticas</option>
	    		<option id="GEO" value="GEO">Grado en Geología</option>
	    	</select>  
	    	<select name="categoria">
	    		<option id="NON" value="NON">< ninguna ></option>
	    		<option id="EVE" value="EVE">Eventos</option>
	    		<option id="FOR" value="FOR">Formación</option>
	    		<option id="ACA" value="ACA">Información Académica</option>
	    		<option id="UNI" value="UNI">Universidad</option>
	    		<option id="CON" value="CON">Concursos</option>
	    	</select>   
			<button type="submit" id="filtrar" class="button" >filtrar</button>
			
			{% if ambito and categoria%}
				<script type="text/javascript">
					document.getElementById('{{ ambito }}').setAttribute("selected", "True");
					document.getElementById('{{ categoria }}').setAttribute("selected", "True");
				</script>
	    	{% endif %}
	    </form>
	    <section>
	    	{% if ambito %}
	    		<h5>Ámbito : {{ ambito }}
	    	{% endif %}
	    	{% if categoria %}
	    		Categoría : {{ categoria }}</h5>
	    	{% else %}
	    		</h5	>
	    	{% endif %}
	    	{% if noticias %}
	    		{% for noticia in noticias %}
	    			<table class="noticia {{ noticia.ambito }} {{ noticia.categoria }}">
			    		<tr>
			    			<td id="carrera-left"></td>
			    			<td id="carrera-titulo"><h4>{{ noticia.titulo }}</h4></td>
			    		</tr>
			    		<tr id="carrera-top">
			    			<td id="carrera-left"></td>
			    			<td ><h5>{{ noticia.ambito }}</h5></td>
			    		</tr>
			    		<tr></tr>
			    		<tr>
			    			<td  id="carrera-left"><h5>{{ noticia.ambito }}</h5></td>
			    			<td>
			    				<p>
			    					{{ noticia.categoría }}<br>
			        				{{ noticia.noticia }}
			        			</p>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td id="carrera-left"></td>
			    			<td id="meta">
			    				{% if noticia.fecha %}
						    		<p>{{ noticia.fecha }}</p>	
						    	{% endif %}
						    	{% if noticia.lugar %}
						    		<p>{{ noticia.lugar }}</p>	
						    	{% endif %}
						    	{% if noticia.referencia %}
						    		<p>{{ noticia.referencia }}</p>	
						    	{% endif %}
			    			</td>
			    			<td></td>
			    		</tr>
			    	</table>
	    		{% endfor %}
	    	{% else %}
	    		<h5>No hay noticias disponibles</h5>
	    	{% endif %}
	    </section>
		<ul class="pagination text-center" role="navigation" aria-label="Pagination">
		{% for indice in noticias.paginator.page_range %}
			{% if indice == noticias.number %}
				<li class="current"><span class="show-for-sr">Estás en la página</span> {{ pagina }}</li>
			{% elif ambito and categoria %}
				<li><a href="/actualidad/{{ indice }}?ambito={{ ambito }}&categoria={{ categoria }}" aria-label="Page {{ indice }}">{{ indice }}</a></li>
				
			{% else %}
				<li><a href="{% url 'actualidad-busqueda' indice %}" aria-label="Page {{ indice }}">{{ indice }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	</section>
{% endblock %}
