header{background-color: white;}
main{
  min-height: 50vh;
}
#banner{
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff url(/static/delcien/assets/imagen-corporativa/img/header_mejorado.png) no-repeat center top;
}
#banner div#universidad{display: none;}
#banner div#delegacion{
  color: var(--rojo-toro);
  display: flex;
  margin: 5em auto;
  align-items: center;
  flex-direction: column;
}
#banner div#delegacion h1, #banner div#delegacion h2{margin: 0; padding: 0;}
#banner div#delegacion h1{  font-size: 1.5em;}
#banner div#delegacion h2{  font-size: 1.4em;}

#main-nav-container, #main-nav, #info-pagina{
  width: 100%;
  background-color: var(--rojo-toro);
  color: white;
} 

#info-pagina{
  background-color: var(--gris-plata);
  padding: 0 1em;
}

#info-pagina p{
  margin: 0;
  padding-bottom: .4em;
}

#call-to-action .flex{
  margin: 0;
  width: 100%;
}

#call-to-action{
  display: block;
}

#call-to-action form{
  padding-top: 1em;
}

#call-to-action > form > div > *{
  width: initial;
  padding: 0;
}

#call-to-action > form input,
#call-to-action > form span{
  margin: 0 .6em 0 0;
}

#call-to-action > form input{
  flex: 1 1 auto;
}

#call-to-action input,
#call-to-action textarea{
  color: var(--gris-plata);
}

#call-to-action > form textarea{
  width: 100%;
  margin-bottom: .5em;
}

#bottom-links{
  text-align: center;
}

#bottom-links ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#bottom-links a{
  color: white;
  text-decoration: underline;
}

#main-nav a:hover{
  border-bottom: solid var(--rojo-toro);
  background-color: rgba(255,255,255, 0.2);
}

#call-to-action input[type="submit"]{
  background-color: var(--rojo-toro);
  color: white;
  margin: 0;
}

#main-nav a{
  border-bottom: solid rgba(255,255,255, 0.2);
  color: white;
  padding: .3em .3em .3em 1.9em;
  width: 100%;
  display: inline-block;
}

#main-nav-current{
  margin: 0;
  width: 100%;
  border-radius: 0;
  background-color: var(--rojo-toro);
  border-bottom: solid rgba(255,255,255, 0.2);
  align-items: baseline;
}

#main-nav-current > span{
  text-align: left;
  padding: 0 0 0 1em;
}

#main-nav-current > span:nth-child(2) {
  font-size: 1.2em;
  text-align: end;
  padding: 0 1em 0 0;
}

#main-nav-links{
  margin: 0;
  display: none;
  flex-direction: column;
}

#main-nav-links.display{display: flex;}

.flex{
  margin: 0;
  width: 100%;
}

img{
  max-width: calc(100vw);
  width: 100%;
}

nav.social ul{
  margin: 0;
  padding: 5px 1em;
  background-color: var(--gris-aluminio);
  list-style: none;
  display: flex;
  justify-content: center;
}

nav.social li{
  display: block;
  margin: 0 .2em;
}

nav.social a{
  border-radius: 50%;
  margin: 0;
  display: inline-block;
  background-color: var(--gris-plata);
  color: var(--gris-aluminio);
  width: 30px;
  height: 30px;
}

#main-nav a.active {
    display: none;
}

nav.social a:hover{
  color: black;
}

nav.social .fi-padding{
  margin-left: 4px;
}

/* Containers */
section.section-container .content{
  padding: 0 1em;
}

section.section-container .section-title{
  font-family: var(--font-title); 
  color: var(--rojo-toro);
  border-bottom: solid;
  padding-bottom: 0;
  padding-left: .6em;
  margin-bottom: .6em;
  font-size: 1.6em;
}

/*  Dispositivo : Móvil vertical  ***************************************//*
 *  320px <= Ancho < 568px
 */
@media screen and (min-width: 320px){
}

/*  Dispositivo : Móvil horizontal  *************************************//*

 *  568px <= Ancho < 900
 */
@media screen and (min-width: 568px){
  #banner div#delegacion h1{  font-size: 1.8em;}
  #banner div#delegacion h2{  font-size: 1.6em;}
}

/*  Dispositivo : Tableta vertical  *************************************//*
 *  900 <= Ancho < 1024px
 */
@media screen and (min-width: 900px){
  #banner{
    height: 160px;
    flex-direction: row;
    justify-content: space-around;
  }
  #banner div#universidad{
    display: flex;
    flex-direction: column;
  }
  nav.social ul{
    justify-content: flex-start;
  }
  footer nav.social ul{
    justify-content: flex-end;
  }
  #banner div#universidad img{  width: 20em;}
  #banner div#universidad p{  margin: 0;}
  #banner div#delegacion{  margin: 0;  align-items: flex-start;}  
  #banner div#delegacion h1{  font-size: 2.1em;}
  #banner div#delegacion h2{  font-size: 1.8em;}
}

/*  Dispositivo : Tableta horizontal  ***********************************//*
 *  1024px <= Ancho < 1170px
 */
@media screen and (min-width: 1024px){
  #banner, 
  #main-nav, 
  main, 
  #call-to-action,
  #bottom-links {max-width: 1000px; margin: 0 auto;}
  #main-nav a{
    border: none;
    padding-left: .3em;
    width: initial;
    text-align: center;
    margin-bottom: 3px;
  }
  #main-nav a.active {
    display: initial;
  }
  #main-nav a.active{
    border-bottom: solid;
  }
  
  #main-nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #main-nav-current{display: none;}
  #banner div#delegacion h1{  font-size: 2.3em;}
  #banner div#delegacion h2{  font-size: 2.0em;}
  section.section-container .content{ padding: 0;}
  section.section-container .section-title{ padding-left: 0;}
}

/*  Dispositivo : Escritorio de ordenador  ******************************//*
 *  1170px <= Ancho
 */
@media screen and (min-width: 1170px){
}