/* Diseño para contenedores
 * Enfoque : Mobile first
 * 
*/
main{
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
}

div.contenedor{
    padding: 0.5em;
    width: 100%;
    box-shadow: 0px 0px 3px 1px #666666;
}

section.tipo-contenedor{
    margin: 1em 0;
    padding: 0.75em;
    border-top: 0.5em solid #D22020;
    border-left: 0.1em solid #D22020;
    border-right: 0.1em solid #D22020;
    border-bottom: 0.1em solid #D22020;
}

section.tipo-contenedor h1{
    font-size: 1.5em;
    color: #D22020;
    margin: 0.2em 0 0.25em 1em;
}

div.contenedor-dos-columnas, div.contenedor-tres-columnas, div.contenedor-imagen-texto, div.contenedor-icono-texto{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.contenedor-dos-columnas div.contenido-texto{
    margin: 3px;
    width: 100%;
    box-shadow: 0px 0px 3px 1px #666666;
}

div.contenedor-tres-columnas div.contenido-texto{
    margin: 3px;
    width: 100%;
    box-shadow: 0px 0px 3px 1px #666666;
}

div.contenido-texto p{
    padding: 0.5em;
}

div.contenedor-imagen-texto div.contenido-imagen, div.contenedor-imagen-texto div.contenido-texto{
    margin: 3px;
    width: 100%;
}

div.contenido-fichero{
    margin: 3px;
    width: 100%;
    padding: 3px;
    box-shadow: 0px 0px 3px 1px #666666;
}
div.contenido-fichero div:first-child{
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.contenido-fichero div:nth-child(2){
    margin-top: 2px;
}
div.contenido-fichero button{background-color: #D22020; margin: 0;}
div.contenido-fichero img{width: 2.5em; }
div.contenido-fichero p{display: inline-block;}

div.contenedor-icono-texto{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
div.contenedor-icono-texto .contenido-texto{ display: block; width: 90%; }
div.contenedor-icono-texto .contenido-icono img{
    margin: 1em;
    width: 4em; 
    height: auto;
}
/* Diseño Responsive
 * Los breakpoints que se tienen en cuenta son los siguientes :
 * Hasta 360 móvil en vertical
 * Mínimo 360 máximo 600 en móvil
 * Mínimo 360 máximo 720 en ordenador
 * Mínimo 720 en móvil
 * Mínimo 720 máximo 840 en ordenador
 * Mínimo 840 máximo 1080 en ordenador
 * Mínimo 1080 en ordenador
 **************************************************************************************************************
 */

/* Mínimo 720 máximo 840 
 **************************************************************************************************************
 */
@media screen and (min-width : 720px){
    div.contenedor-dos-columnas{
        
    }

    div.contenedor-dos-columnas div.contenido-texto{
        
    }

    div.contenedor-tres-columnas{
    }

    div.contenedor-tres-columnas div.contenido-texto{
    }    
}
/* Mínimo 840 máximo 1080 
 **************************************************************************************************************
 */
@media screen and (min-width : 840px){
   div.contenedor-dos-columnas{
        
    }

    div.contenedor-dos-columnas div.contenido-texto, div.contenedor-dos-columnas div.contenido-fichero{
        width: 49%;
    }

    div.contenedor-tres-columnas{
    }

    div.contenedor-tres-columnas div.contenido-texto, div.contenedor-tres-columnas div.contenido-fichero{
        width: 49%;
    }    
    div.contenedor-tres-columnas div.contenido-texto:first-child{
        width: 100%;
    }

    div.contenedor-icono-texto{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    div.contenedor-icono-texto .contenido-texto{ display: inline-block; width: 80%; }
    div.contenedor-icono-texto .contenido-icono img{
        display: inline-block;
        width: 5em; 
        height: auto;
    }
}

/* Mínimo 1080 
 **************************************************************************************************************
 */
@media screen and (min-width : 1080px){
    div.contenedor-dos-columnas{
        
    }

    div.contenedor-dos-columnas div.contenido-texto{
    }

    div.contenedor-tres-columnas{
    }

    div.contenedor-tres-columnas div.contenido-texto, div.contenedor-tres-columnas div.contenido-fichero{   width: 32%;}   
    div.contenedor-tres-columnas div.contenido-texto, div.contenedor-tres-columnas div.contenido-fichero{   width: 32%;}   
    div.contenedor-tres-columnas div.contenido-texto:first-child{   width: 32%;}   

    div.contenedor-imagen-texto div.contenido-imagen{   width: 66%;}

    div.contenedor-imagen-texto div.contenido-texto{    width: 32%;}
}

/*
 **************************************************************************************************************
 */


























