div#yo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1em;
}
div#yo img{
    display: block;
    margin-right:1em;
    max-height:320px;
    width:auto;
    border-radius: 50%;
}
div#yo #extra{
    display: none;
}
/* Diseño Responsive
 * Los breakpoints que se tienen en cuenta son los siguientes :
 * Hasta 360 móvil en vertical
 * Mínimo 360 máximo 600 en móvil
 * Mínimo 360 máximo 720 en ordenador
 * Mínimo 720 en móvil
 * Mínimo 720 máximo 840 en ordenador
 * Mínimo 840 máximo 1080 en ordenador
 * Mínimo 1080 en ordenador
 **************************************************************************************************************
 */

/* Mínimo 720 máximo 840 
 **************************************************************************************************************
 */
@media screen and (min-width : 720px){
    div#yo #extra{
        display: block;
    }
}
/* Mínimo 840 máximo 1080 
 **************************************************************************************************************
 */
@media screen and (min-width : 900px){
    div#yo{
        flex-direction: row;
    }
}

/* Mínimo 1080 
 **************************************************************************************************************
 */
@media screen and (min-width : 1080px){
}

