{% extends "delcien/main.html" %}

{% comment %}
<!--{% block title %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}	
{% endblock %}

{% block footer %}
{% endblock %} -->
{% endcomment %}
{% block links %}<link rel="stylesheet" type="text/css" href="/static/estructura_interna/css/main.css">{% endblock %}

{% block content %}	
    <section class="tipo-contenedor">
        <h1 id="titulo-seccion">Órganos dentro de la Universidad</h1>
        <div class="contenido-texto">
        	<p>
            Dentro de la Facultad, la representación colectiva viene dada por
            diferentes órganos, cada uno con unos cometidos diferentes
        	</p>
        </div>
        <div class="contenedor-dos-columnas">
            <div class="contenido-texto">
                <h3 class="nombre-organo">Delegados</h3 >
                <p>
                    Hay dos estudiantes como delegados por clase. Son los
                    portavoces de la clase. De no resolver un conflicto
                    o querer expresar una opinión conjunta, el delegado lo
                    transmitirá a la delegación.
                </p>
            </div>
            <div class="contenido-texto">
                <h3 class="nombre-organo">Consejos de Departamento</h3 >
                <p>
                    Está formada por un 25% de estudantes sobre el total del
                    pleno. Se encarga de la organización interna de la docencia
                    dentro de la Facultad.
                </p>
            </div>
        </div>
        <div class="contenedor-dos-columnas">
            <div class="contenido-texto">
                <h3 class="nombre-organo">Junta de Facultad</h3 >
                <p>
                    Está formada por un 25% de estudiantes sobre el total del
                    pleno. Es el máximo Órgano de Gobierno de la Facultad. Se
                    encarga de aprobar el calendario lectivo, planes de estudio
                    (programación docente), presupuestos de la facultad,
                    etcétera.
                </p>
            </div>
            <div class="contenido-texto">
                <h3 class="nombre-organo">Claustro Universitario</h3 >
                <p>
                    Está formado por un 25% de estudiantes sobre el total del
                    pleno. Es el máximo órgano de gobierno de la Universidad;
                    el cual se reúne alrededor de dos veces al año, y cuyo
                    principal objetivo es la redacción y modificación de los
                    Estatutos de la Universidad de Salamanca.
                </p>
            </div>
        </div>
        <div class="contenedor-dos-columnas">
            <div class="contenido-texto">
                <h3 class="nombre-organo">Consejo de Departamento</h3 >
                <p>
                    Está formado por un 25% de estudiantes sobre el total del
                    pleno. Es el máximo órgano de gobierno de la Universidad;
                    el cual se reúne alrededor de una vez al mes y donde se
                    aprueban todos los asuntos académicos de la USAL. Los
                    miembros del Consejo de Gobierno son escogidos por el
                    Claustro Universitario.
                </p>
            </div>
            <div class="contenido-texto">
                <h3 class="nombre-organo">Delegación de estudiantes</h3 >
                <p>
                    Además de la junta directiva, en la delegación de
                    estudiantes contamos con la figura del vocal de grado,
                    que representa a cada una de las carreras que hay en la
                    Facultad de Ciencias, permitiendo la total
                    representación de estudiantes.
                </p>
            </div>
        </div>
        <div class="contenedor-dos-columnas">
            <div class="contenido-texto">
                <h3 class="nombre-organo">Consejo de Delegaciones</h3 >
                <p>
                    La junta directiva la componen siete personas que se
                    encargan de mantener a la. Estos cargos son elegidos
                    una vez por curso académico y duran hasta las
                    siguientes elecciones.
                </p>
            </div>
        </div>
    </section>
    <section class="tipo-contenedor">
        <h1 id="titulo-seccion">Comisiones delegadas de la Junta de Facultad</h1>
        <div class="contenido-texto">
        	<p>
            Dentro de la Facultad, la representación colectiva viene dada por
            diferentes órganos, cada uno con unos cometidos diferentes
        	</p>
        </div>
        <div class="contenedor-dos-columnas">
            <div class="contenido-texto">
                <h3 class="nombre-organo">Comisión de Docencia</h3 >
                <p>
                   Un estudiante por grado. Se elige en Junta de Facultad. Resuelve 
                   problemas surgidos relacionados con la docencia de la Facultad. 
                </p>
            </div>
            <div class="contenido-texto">
                <h3 class="nombre-organo">Comisión de Transferencia
                    y Reconocimiento de Créditos (COTRARET)</h3 >
                <p>
                    Un estudiante por grado. Reconocen y se estudian los casos en los 
                    que hayan alguna duda con créditos de por medio.
                </p>
            </div>
        </div>
        <div class="contenedor-dos-columnas">
            <div class="contenido-texto">
                <h3 class="nombre-organo">Comisión de Evaluación y Control de
                    Calidad</h3 >
                <p>
                    Un estudiante por grado. Revisan la calidad de los Planes de Estudio que hay dentro de la Facultad.
                </p>
            </div>
            <div class="contenido-texto">
                <h3 class="nombre-organo">Comisión de Convalidaciones
                    y Programas de Intercambio</h3 >
                <p>
                    Ningún estudiante. Organizan programas de intercambio por ejemplo el Programa Erasmus.
                </p>
            </div>
        </div>
        <div class="contenedor-dos-columnas">
            <div class="contenido-texto">
                <h3 class="nombre-organo">Comisión de Calidad de los Grados</h3 >
                <p>
                    Un estudiante por grado. Revisan la calidad de cada grado y de sus profesores.
                </p>
            </div>
            <div class="contenido-texto">
                <h3 class="nombre-organo">Comisión de los Planes de Estudio de
                los Grados</h3 >
                <p>
                    Dos estudiantes por grado. Se encargan de elaborar, desarrollar 
                    y hacer un seguimiento del Plan de Estudios de cada grado.
                </p>
            </div>
        </div>
        <div class="contenedor-dos-columnas">
            <div class="contenido-texto">
                <h3 class="nombre-organo">Comisiones de Trabajos de Fin de
                    Grado</h3 >
                <p>
                    Dos estudiantes por grado. Escogen los criterios de elección de los 
                    trabajos y los trabajos que pasan los filtros acordados.
                </p>
            </div>
            <div class="contenido-texto">
                <h3 class="nombre-organo">Comisión de Prácticas Externas</h3 >
                <p>
                    Dos estudiantes por cada grado. Se encargan de estudiar las diferentes 
                    posibilidades de prácticas en empresas así como los diferentes convenios que puedan surgir.
                </p>
            </div>
        </div>
        <div class="contenedor-dos-columnas">
            <div class="contenido-texto">
                <h3 class="nombre-organo">Comisión de Deportes</h3 >
                <p>
                    Un estudiante de cada grado. Organizan el Trofeo Rector por ejemplo.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
